@theme inline {
  --color-abysal-obsidian-bg: oklch(from #1c1c1c l c h);
  --color-abysal-obsidian-bg-dark: oklch(from #262626 l c h);
  --color-abysal-obsidian-bg-dark1: oklch(from #0f0f0f l c h);
  --color-abysal-obsidian-bg-float: var(--color-abysal-obsidian-bg-dark);
  --color-abysal-obsidian-bg-highlight: oklch(from #333333 l c h);
  --color-abysal-obsidian-bg-popup: var(--color-abysal-obsidian-bg-dark);
  --color-abysal-obsidian-bg-search: var(--color-abysal-obsidian-blue0);
  --color-abysal-obsidian-bg-sidebar: var(--color-abysal-obsidian-bg-dark);
  --color-abysal-obsidian-bg-statusline: var(--color-abysal-obsidian-bg-dark);
  --color-abysal-obsidian-bg-visual: oklch(from #232b4e l c h);
  --color-abysal-obsidian-black: oklch(from #161616 l c h);
  --color-abysal-obsidian-black-bright: oklch(from #2e2e2e l c h);
  --color-abysal-obsidian-blue: oklch(from #6b92e3 l c h);
  --color-abysal-obsidian-blue-bright: oklch(from #739ff9 l c h);
  --color-abysal-obsidian-blue0: oklch(from #2d4299 l c h);
  --color-abysal-obsidian-blue1: oklch(from #89aae8 l c h);
  --color-abysal-obsidian-blue2: oklch(from #52c9b0 l c h);
  --color-abysal-obsidian-blue5: oklch(from #8ca8e0 l c h);
  --color-abysal-obsidian-blue6: oklch(from #b0ccf0 l c h);
  --color-abysal-obsidian-blue7: oklch(from #2c4470 l c h);
  --color-abysal-obsidian-border: var(--color-abysal-obsidian-black);
  --color-abysal-obsidian-border-highlight: oklch(from #738ebf l c h);
  --color-abysal-obsidian-comment: oklch(from #737373 l c h);
  --color-abysal-obsidian-cyan: oklch(from #52c9b0 l c h);
  --color-abysal-obsidian-cyan-bright: oklch(from #00dcbc l c h);
  --color-abysal-obsidian-dark3: oklch(from #737373 l c h);
  --color-abysal-obsidian-dark5: oklch(from #8c8c8c l c h);
  --color-abysal-obsidian-diff-add: oklch(from #253f3b l c h);
  --color-abysal-obsidian-diff-change: oklch(from #1e2229 l c h);
  --color-abysal-obsidian-diff-delete: oklch(from #462525 l c h);
  --color-abysal-obsidian-diff-text: var(--color-abysal-obsidian-blue7);
  --color-abysal-obsidian-error: var(--color-abysal-obsidian-red1);
  --color-abysal-obsidian-fg: oklch(from #d4d4d4 l c h);
  --color-abysal-obsidian-fg-dark: oklch(from #8c8c8c l c h);
  --color-abysal-obsidian-fg-float: var(--color-abysal-obsidian-fg);
  --color-abysal-obsidian-fg-gutter: oklch(from #525252 l c h);
  --color-abysal-obsidian-fg-sidebar: var(--color-abysal-obsidian-fg-dark);
  --color-abysal-obsidian-git-add: oklch(from #52c9b0 l c h);
  --color-abysal-obsidian-git-change: oklch(from #6b92e3 l c h);
  --color-abysal-obsidian-git-delete: oklch(from #d47779 l c h);
  --color-abysal-obsidian-git-ignore: var(--color-abysal-obsidian-dark3);
  --color-abysal-obsidian-green: oklch(from #52c9b0 l c h);
  --color-abysal-obsidian-green-bright: oklch(from #00dcbc l c h);
  --color-abysal-obsidian-green1: oklch(from #52c9b0 l c h);
  --color-abysal-obsidian-green2: oklch(from #3ea897 l c h);
  --color-abysal-obsidian-hint: var(--color-abysal-obsidian-teal);
  --color-abysal-obsidian-info: var(--color-abysal-obsidian-blue2);
  --color-abysal-obsidian-magenta: oklch(from #b87bce l c h);
  --color-abysal-obsidian-magenta-bright: oklch(from #cd82e7 l c h);
  --color-abysal-obsidian-magenta2: oklch(from #d45daa l c h);
  --color-abysal-obsidian-orange: oklch(from #e28e5a l c h);
  --color-abysal-obsidian-purple: oklch(from #b87bce l c h);
  --color-abysal-obsidian-rainbow1: var(--color-abysal-obsidian-blue);
  --color-abysal-obsidian-rainbow2: var(--color-abysal-obsidian-yellow);
  --color-abysal-obsidian-rainbow3: var(--color-abysal-obsidian-green);
  --color-abysal-obsidian-rainbow4: var(--color-abysal-obsidian-teal);
  --color-abysal-obsidian-rainbow5: var(--color-abysal-obsidian-magenta);
  --color-abysal-obsidian-rainbow6: var(--color-abysal-obsidian-purple);
  --color-abysal-obsidian-rainbow7: var(--color-abysal-obsidian-orange);
  --color-abysal-obsidian-rainbow8: var(--color-abysal-obsidian-red);
  --color-abysal-obsidian-red: oklch(from #d47779 l c h);
  --color-abysal-obsidian-red-bright: oklch(from #e98183 l c h);
  --color-abysal-obsidian-red1: oklch(from #c44040 l c h);
  --color-abysal-obsidian-teal: oklch(from #52c9b0 l c h);
  --color-abysal-obsidian-todo: var(--color-abysal-obsidian-blue);
  --color-abysal-obsidian-warning: var(--color-abysal-obsidian-yellow);
  --color-abysal-obsidian-yellow: oklch(from #d1b171 l c h);
  --color-abysal-obsidian-yellow-bright: oklch(from #e8bd56 l c h);
}