@theme inline {
  --color-abysal-marble-bg: oklch(from #dcdcdc l c h);
  --color-abysal-marble-bg-dark: oklch(from #cfcfcf l c h);
  --color-abysal-marble-bg-dark1: oklch(from #c4c4c4 l c h);
  --color-abysal-marble-bg-float: var(--color-abysal-marble-bg-dark);
  --color-abysal-marble-bg-highlight: oklch(from #c4c4c4 l c h);
  --color-abysal-marble-bg-popup: var(--color-abysal-marble-bg-dark);
  --color-abysal-marble-bg-search: var(--color-abysal-marble-blue0);
  --color-abysal-marble-bg-sidebar: var(--color-abysal-marble-bg-dark);
  --color-abysal-marble-bg-statusline: var(--color-abysal-marble-bg-dark);
  --color-abysal-marble-bg-visual: oklch(from #a2b0d1 l c h);
  --color-abysal-marble-black: oklch(from #b0b0b0 l c h);
  --color-abysal-marble-black-bright: oklch(from #bcbcbc l c h);
  --color-abysal-marble-blue: oklch(from #365ca8 l c h);
  --color-abysal-marble-blue-bright: oklch(from #1767d3 l c h);
  --color-abysal-marble-blue0: oklch(from #4a6dc0 l c h);
  --color-abysal-marble-blue1: oklch(from #2a4d94 l c h);
  --color-abysal-marble-blue2: oklch(from #2c9279 l c h);
  --color-abysal-marble-blue5: oklch(from #5878b8 l c h);
  --color-abysal-marble-blue6: oklch(from #8090c0 l c h);
  --color-abysal-marble-blue7: oklch(from #bfcce0 l c h);
  --color-abysal-marble-border: var(--color-abysal-marble-black);
  --color-abysal-marble-border-highlight: oklch(from #4e6aa2 l c h);
  --color-abysal-marble-comment: oklch(from #666666 l c h);
  --color-abysal-marble-cyan: oklch(from #2c9279 l c h);
  --color-abysal-marble-cyan-bright: oklch(from #00a284 l c h);
  --color-abysal-marble-dark3: oklch(from #737373 l c h);
  --color-abysal-marble-dark5: oklch(from #555555 l c h);
  --color-abysal-marble-diff-add: oklch(from #aec3be l c h);
  --color-abysal-marble-diff-change: oklch(from #d8dadd l c h);
  --color-abysal-marble-diff-delete: oklch(from #c8b0b1 l c h);
  --color-abysal-marble-diff-text: var(--color-abysal-marble-blue7);
  --color-abysal-marble-error: var(--color-abysal-marble-red1);
  --color-abysal-marble-fg: oklch(from #2f2f2f l c h);
  --color-abysal-marble-fg-dark: oklch(from #555555 l c h);
  --color-abysal-marble-fg-float: var(--color-abysal-marble-fg);
  --color-abysal-marble-fg-gutter: oklch(from #8c8c8c l c h);
  --color-abysal-marble-fg-sidebar: var(--color-abysal-marble-fg-dark);
  --color-abysal-marble-git-add: oklch(from #2c9279 l c h);
  --color-abysal-marble-git-change: oklch(from #365ca8 l c h);
  --color-abysal-marble-git-delete: oklch(from #a8474a l c h);
  --color-abysal-marble-git-ignore: var(--color-abysal-marble-dark3);
  --color-abysal-marble-green: oklch(from #2c9279 l c h);
  --color-abysal-marble-green-bright: oklch(from #00a284 l c h);
  --color-abysal-marble-green1: oklch(from #2c9279 l c h);
  --color-abysal-marble-green2: oklch(from #237864 l c h);
  --color-abysal-marble-hint: var(--color-abysal-marble-teal);
  --color-abysal-marble-info: var(--color-abysal-marble-blue2);
  --color-abysal-marble-magenta: oklch(from #824699 l c h);
  --color-abysal-marble-magenta-bright: oklch(from #a13cc2 l c h);
  --color-abysal-marble-magenta2: oklch(from #a83280 l c h);
  --color-abysal-marble-orange: oklch(from #a04e1e l c h);
  --color-abysal-marble-purple: oklch(from #824699 l c h);
  --color-abysal-marble-rainbow1: var(--color-abysal-marble-blue);
  --color-abysal-marble-rainbow2: var(--color-abysal-marble-yellow);
  --color-abysal-marble-rainbow3: var(--color-abysal-marble-green);
  --color-abysal-marble-rainbow4: var(--color-abysal-marble-teal);
  --color-abysal-marble-rainbow5: var(--color-abysal-marble-magenta);
  --color-abysal-marble-rainbow6: var(--color-abysal-marble-purple);
  --color-abysal-marble-rainbow7: var(--color-abysal-marble-orange);
  --color-abysal-marble-rainbow8: var(--color-abysal-marble-red);
  --color-abysal-marble-red: oklch(from #a8474a l c h);
  --color-abysal-marble-red-bright: oklch(from #cf3d43 l c h);
  --color-abysal-marble-red1: oklch(from #8c2d30 l c h);
  --color-abysal-marble-teal: oklch(from #2c9279 l c h);
  --color-abysal-marble-todo: var(--color-abysal-marble-blue);
  --color-abysal-marble-warning: var(--color-abysal-marble-yellow);
  --color-abysal-marble-yellow: oklch(from #7a6020 l c h);
  --color-abysal-marble-yellow-bright: oklch(from #8c6b00 l c h);
}